/*AQUI VA EL ENCABEZADO */
.encabezado-consultaVehicular{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height: 40px;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: -5px;
}
.iconoLupa{
    height: 30px;
    width: 30px;
}
.titulo{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 49px;
}
.separacion{
    width: 86%;
}
/*AQUI VA LO DEL FORMULARIO*/
.inputs{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 90px;
}
.input-form{
    width: 55%;
    height: 35px;
    border: 3px solid rgba(125, 123, 123, 0.64);
    border-radius: 10px;
}
.input-texto{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
}
.input-form:hover{
    border-color:black
}
.boton-entrar{
    background: #13322B;
    border-radius: 10px;
    height: 50px;
    width: 270px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    margin-left: 270px;
    margin-top: 50px;
}
.boton-entrar:hover{
    border-color: #FFFFFF;
}
/*Articulo de la ley*/
.articulo{
    display:flex;
    align-items: center;
    justify-content: center;
    background: #9A031E;
    border-radius: 6px;
    height: 50px;
    width: 50%;
    margin-left: 90px;
    margin-top: 120px;
}
.a_6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
/*volver*/
.volver{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boton-volver{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 150px;
    margin-top: 60px;
    background-color: transparent;
    border-color: transparent;
}
.iconoVolver{
    height: 30px;
    width: 30px;
    transform: matrix(0, -1, -1, 0, 0, 0);
}
.Volver{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 63px;
    color: #000000;
}