.header{
    display: flex;
    width: 100%;
    background: #13322B;
}
.opc{
    margin-left: 62%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
ul{
    LIST-STYLE-TYPE: none;
}
ul li{
    DISPLAY: inline;
}
a{
    color: aliceblue;
    text-decoration: none;
    margin-right: 30%
}
.logoGobierno{
width: 15%;
margin-left: 2%;
}

.logoPerfil{
    width: 2%;
    height: 2%;
    margin-top: 1%;
    margin-left: 4%;
}